<div style="text-align:center; padding-top:100px;">

  <div class="container">
    <div class="row text-left">


      <div class="col-md-8">
        <br>

        <h2 class="text-center">
          <strong>
            Brandon Franke
          </strong>
        </h2>
        <p>
          Hi there! My name is Brandon. I'm currently a Computer Science student at Dalhousie University in Halifax, Nova
          Scotia, Canada. I'm from Bermuda (not the triangle) and am completing my studies in Canada.
        </p>

        <br>
        <div class="text-center">
          <img src="../../assets/images/arrow.png" alt="arrow" class="img-fluid" style="width:40%; height: 20%">
        </div>
      </div>
      <div class="col-md-4">
        <img src="../../assets/images/brandonfranke_headshot.jpg" alt="Brandon Franke Headshot"
             class="img-fluid img-thumbnail">
      </div>
    </div>

    <br>

    <hr style="color: black">

    <div class="row">
      <div class="col">
        <h4>
          A little bit about me...
        </h4>
      </div>
    </div>

    <br>


    <div class="row text-left">
      <div class="col">
        <h4>
          Education
        </h4>
      </div>
      <div class="col-md-8">
        <p>
          I'm currently studying Applied Computer Science at Dalhousie University. I started my post-secondary education at Bermuda College
          in Bermuda. I obtained my Associates of Science in Computer Information Systems in May 2017. I then transfered over to Dalhousie
          to complete my Bachelors degree. I'm set to graduate in May 2020.
        </p>

      </div>
    </div>

    <br>

    <div class="row text-left">
      <div class="col">
        <h4>
          Experience
        </h4>
      </div>
      <div class="col-md-8">
        <p>
          I've worked as a Service Desk Analyst Intern over in Bermuda for about three years now.
          I've had a few internships
          at some Reinsurance Companies there and have learned a lot. Service Desk involves helping employees with
          computer related issues,
          hardware installs, software installs, network troubleshooting, inventory analysis, and much more.
        </p>

      </div>
    </div>

    <br>

    <div class="row text-left">
      <div class="col">
        <h4>
          Skills
        </h4>
      </div>

      <div class="col-md-8">
        <p>
          Java Programming
          <br>
          Web Development (HTML, CSS, JavaScript, PHP)
          <br>
          Application Support (Adobe Suite, Microsoft Office)
          <br>
          Photography and Cinematography
          <br>
          Photo and Video Editing (Adobe Lightroom, Photoshop, Premiere Pro)
          <br>
          And more! Just ask me!
        </p>
      </div>
    </div>

    <br>


    <div class="row text-left">
      <div class="col">
        <h4>
          Hobbies
        </h4>
      </div>

      <div class="col-md-8">

        <p>
          I also have a strong passion for Photography. I've only got into it recently, but I absolutely love it. But
          what's taking photo's without
          editing them? That's half the fun! I've probably watched hundreds of tutorials online on how to edit photo's
          in Adobe Lightroom to get it just right.
          Check out the <a routerLink="../../photo-gallery/photo-gallery">photo gallery</a> to see some shots I've taken!
        </p>
      </div>
    </div>

<br>



  </div>
</div>


