<div style="text-align:center; padding-top:100px;">


  <h1>
    Photo Gallery
  </h1>

  <br>
<div class="container">
  <div class="row">
    <div class="col">
      <p>
        I primarily shoot with a Canon EOS T7i Camera with a 50mm Prime Lens or 18-55mm EFS Lens. I edit my photos in Adobe Photoshop and
        Adobe Lightroom
      </p>
      <p>
        You can see some of my work below
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img src="../../assets/images/photo_gallery/IMG_0347_LightroomExport-4.jpg" alt="photo_gallery_photo" class="img-fluid img-thumbnail">
    </div>
    <div class="col">
      <img src="../../assets/images/photo_gallery/IMG_0466_Edited-2.jpg" alt="photo_gallery_photo" class="img-fluid img-thumbnail">
    </div>
    <div class="col">
      <img src="../../assets/images/photo_gallery/IMG_0655_Edited.jpg" alt="photo_gallery_photo" class="img-fluid img-thumbnail">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col">
      <img src="../../assets/images/photo_gallery/IMG_0984_Edited.jpg" alt="photo_gallery_photo" class="img-fluid img-thumbnail">
    </div>
    <div class="col">
      <img src="../../assets/images/photo_gallery/IMG_3453_LightroomExport.jpg" alt="photo_gallery_photo" class="img-fluid img-thumbnail">
    </div>
    <div class="col">
      <img src="../../assets/images/photo_gallery/IMG_2215-Edit_Edited.jpg" alt="photo_gallery_photo" class="img-fluid img-thumbnail">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col">
      <img src="../../assets/images/photo_gallery/IMG_2396-LightroomExport.jpg" alt="photo_gallery_photo" class="img-fluid img-thumbnail">
    </div>
    <div class="col">
      <img src="../../assets/images/photo_gallery/IMG_2454_Edited.jpg" alt="photo_gallery_photo" class="img-fluid img-thumbnail">
    </div>
    <div class="col">
      <img src="../../assets/images/photo_gallery/IMG_2636-Edit_Edited.jpg" alt="photo_gallery_photo" class="img-fluid img-thumbnail">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col">
      <img src="../../assets/images/photo_gallery/IMG_3392_LightroomExport.jpg" alt="photo_gallery_photo" class="img-fluid img-thumbnail">
    </div>
    <div class="col">
      <img src="../../assets/images/photo_gallery/IMG_2787-LightroomExport.jpg" alt="photo_gallery_photo" class="img-fluid img-thumbnail">
    </div>
    <div class="col">
      <img src="../../assets/images/photo_gallery/IMG_3012_LightroomExport.jpg" alt="photo_gallery_photo" class="img-fluid img-thumbnail">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col">
      <img src="../../assets/images/photo_gallery/IMG_3087_LightroomExport.jpg" alt="photo_gallery_photo" class="img-fluid img-thumbnail">
    </div>
    <div class="col">
      <img src="../../assets/images/photo_gallery/IMG_3151_LightroomExport-2.jpg" alt="photo_gallery_photo" class="img-fluid img-thumbnail">
    </div>
    <div class="col">
      <img src="../../assets/images/photo_gallery/IMG_3190_LightroomExport-2.jpg" alt="photo_gallery_photo" class="img-fluid img-thumbnail">
    </div>
  </div>

  <br>
</div>
</div>
