<div style="padding-top:100px;">


  <div class="container-fluid">
    <div class="row text-center">
      <div class="col">
        <h1>Contact</h1>
        <p>
          Use the form below to contact me. Your information is safe and will not be shared with anyone.
        </p>
      </div>
    </div>

    <br>

    <div class="row text-center">
      <div class="col-md-6 offset-3">


        <form>
          <div class="form-row">
            <div class=" form-group col-md-6">
              <label>First Name</label>
              <input type="text" placeholder="First Name" class="form-control" id="firstname" required>
            </div>

            <div class="form-group col-md-6">
              <label>Last Name</label>
              <input type="text" placeholder="Last Name" class="form-control" id="lastname" required>
            </div>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" placeholder="Email" class="form-control" id="email">
          </div>

          <div class="form-group">
            <label for="service">Services Needed</label>
            <select id="service" class="form-control">
              <option value="Photography">Photography</option>
              <option value="Java Programming">Java Programming</option>
              <option value="Web Development">Web Development</option>
              <option value="Video/Photo Editing">Video/Photo Editing</option>
              <option value="Windows Support">Windows Support</option>
              <option value="Other">Other</option>
            </select>
          </div>


          <div class="form-group" id="otherTextBoxGroup">
            <label for="otherTextBox">If Other, please describe the service you require</label>
            <textarea rows="6" id="otherTextBox" class="form-control"></textarea>
          </div>

          <div class="form-group">
            <label for="message">Message</label>
            <textarea rows="6" id="message" class="form-control"></textarea>
          </div>

          <button type="submit" id="submit" class="btn btn-primary" value="Submit">Send Email</button>

        </form>
      </div>


    </div>

    <hr>

    <div class="row">
      <div class="col">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11356.221135731837!2d-63.59053723740679!3d44.63678704371238!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x748c455d10d45403!2sDalhousie+University!5e0!3m2!1sen!2sca!4v1553013639955"
          class="w-100 p-0" height="400px" frameborder="0" style="border:0; margin: 0" allowfullscreen></iframe>
      </div>
    </div>

  </div>

</div>

