<div style="text-align:center; padding-top:100px;">



  <div class="container">

    <h1>
      Portfolio
    </h1>
    <br>

    <div class="row text-center">
      <div class="col align-text-bottom">
        <h2>
          Computer Science Society Stick IT App
        </h2>
        <p>
          <img src="../../assets/images/stickitlogo.png" alt="stickitlogo" class="img-fluid img-thumbnail">
        </p>
        <p class="text-left">
          As part of my Community Outreach course, I was tasked, along with my group, to make an app for the Computer
          Science Society.
          The app will be used by CS students to learn about upcoming Computer Science Society events.
          <br>
          <br>
          Skills used for this project include: HTML, CSS, JS, PHP, Adobe PhoneGap
        </p>
      </div>
        <div class="col">
          <h2>
            Academic Integrity Office Portal
          </h2>
          <p>
          <img src="../../assets/images/aio_screenshot.png" alt="stickitlogo" class="img-fluid img-thumbnail">
          </p>
          <p class="text-left">
            As part of my second Community Outreach course, I was tasked, along with my group, to make take over control
            of an existing project.
            For this project, we needed to continue progress towards making a functioning portal for the Academic
            Integrity Office at Dalhousie. The
            portal would allow Integrity Officers to better manage incoming offenses and take actions on those offenses.
            <br>
            <br>
            Skills used for this project include: HTML, CSS, JS, PHP, MySQL
          </p>
        </div>
    </div>
    <br>

    <div class="row">
      <div class="col">
        <h2>
          TO DO: Web App
        </h2>
        <p>
          <img src="../../assets/images/webapp.png" alt="stickitlogo" class="img-fluid img-thumbnail">
        </p>
        <p class="text-left">
         As part of my Web Centric Computing course I will be creating a functioning web application.
          <br>
          <br>
          Skills used for this project include: HTML, CSS, JS, TypeScript, Angular, PHP, MySQL
        </p>
      </div>


      <div class="col">
        <h2>
          Windows 10 Upgrade Project
        </h2>
        <p>
          <img src="../../assets/images/RenaissanceRe.jpg" alt="stickitlogo" class="img-fluid img-thumbnail">
        </p>
        <p class="text-left">
          During my internship at Renaissance Reinsurance in Bermuda I worked on the Windows 10 Upgrade Project. This involved imaging
          new computers, installing software and deploying them to employees within the company.
          <br>
          <br>
          Skills used for the project include: Software support, Hardware support, Networking support
        </p>
      </div>
    </div>


  </div>
</div>

