<!--The content below is only a placeholder and can be replaced.-->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a routerLink="about/about" class="navbar-brand" href="#">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a routerLink="portfolio/portfolio" class="nav-item nav-link" href="#">Portfolio<span class="sr-only">(current)</span></a>
      <a routerLink="photo-gallery/photo-gallery" class="nav-item nav-link" href="#">Photo Gallery</a>
      <a routerLink="contact/contact" class="nav-item nav-link" href="#">Contact</a>
    </div>
  </div>
</nav>


<router-outlet></router-outlet>



<footer class="page-footer font-small bg-dark">


  <div class="container">


    <div class="row text-center d-flex justify-content-center pt-5 mb-3">


      <div class="col-md-3">
        <h6 class="font-weight-bold">
          <a routerLink="about/about">Home</a>
        </h6>
      </div>


      <div class="col-md-3">
        <h6 class="font-weight-bold">
          <a routerLink="portfolio/portfolio">Portfolio</a>
        </h6>
      </div>

      <div class="col-md-3">
        <h6 class="font-weight-bold">
          <a routerLink="photo-gallery/photo-gallery">Photo Gallery</a>
        </h6>
      </div>

      <div class="col-md-3">
        <h6 class="font-weight-bold">
          <a routerLink="contact/contact">Contact</a>
        </h6>
      </div>


    </div>

    <hr class="rgba-white-light">


    <div class="row d-flex text-center justify-content-center">


      <div class="col-md-8">
        <h4>
          Brandon Franke
        </h4>
        <p>
        <br>
        Thanks for visiting! Please get in contact for anything you need!
        </p>
      </div>
    </div>
  </div>
</footer>

